 <div id="container">
  <div class="question"><a href="/deals"><h2>I HAVE A</h2><h1>THING</h1></a>
  </div>
  <div class="question"><a href="/deals/new"><h2>I NEED A</h2><h1>THING</h1></a>
  </div>
</div> 